* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
ul a {
	margin-right: 50px;
}
ul a:nth-child(6) {
	margin: 0;
}
li {list-style: none;}
.content {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.home {
	background-color: #2ecc71;
	color: #f4f4f4;
}
.main-header {padding: 30px 0 75px 0;}
.logo {
	font: italic bold 39px/24px "Roboto";
	color: #f4f4f4;
	vertical-align: middle;
	display: inline-block;
}
.main-menu {
	display: inline-block;
	font: 18px/30px  "Roboto";
	float: right;
}
.main-menu .button {
	color: #2ecc71;
	background-color: #ffffff;
	border-radius: 21px;
	width: 140px;
	height: 42px;
	display: inline-block;
	font-weight: bold;
	line-height: 42px;
	text-align: center;
	letter-spacing: 1px;
}
.home .head-block {
	font: 300 64px/60px "Roboto";
	margin: 60px 0 20px;
}
.home .head-block span {
	font-weight: bold;
}
.home .about-block {
}
.helps-you-eat-better {
	display: inline-block;
	width: 53.65%;
	padding-top: 125px;
}
.home-image {
	float: right;
}
.button-app {
	padding: 55px 0 172px;

}
.features-image {
	margin-left: -39px;
}