* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
ul a {margin-right: 50px;}
ul a:nth-child(6) {margin: 0;}
li {list-style: none;}
.content {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.main-header {padding: 30px 0 75px 0;}
.logo {
	font: italic bold 39px/24px "Roboto";
	color: #f4f4f4;
	vertical-align: middle;
	display: inline-block;
}
.main-menu {
	display: inline-block;
	font: 18px/30px "Roboto";
	float: right;
}
.button {
	color: #2ecc71;
	background-color: #ffffff;
	border-radius: 21px;
	width: 140px;
	height: 42px;
	display: inline-block;
	font-weight: bold;
	line-height: 42px;
	text-align: center;
}
.home,
.main-footer {
	background-color: #2ecc71;
	color: #f4f4f4;
}
.app-icon {
	background: url(../images/App-Icon.png) no-repeat center center;
	width: 111px;
	height: 111px;
}
.about-block {
	font: 300 18px/32px "Roboto";
}
.home .head-block {
	font: 300 64px/60px "Roboto";
	margin: 60px 0 20px;
}
.home .head-block span,
.main-footer .head-block span {
	font-weight: bold;
}
.appstore {
	background: url(../images/Appstore.png) no-repeat center center;
	height: 46px;
	width: 130px;
	display: inline-block;
}
.googleplay {
	background: url(../images/GooglePlay.png) no-repeat center center;
	height: 46px;
	width: 137px;
	display: inline-block;
}
.home-image {
	float: right;
	background: url(../images/home-iPhone-5C.png) no-repeat center center;
	height: 753px;
	width: 405px;
}
.button-app {padding: 55px 0 172px;}
.helps-you-eat-better {
	display: inline-block;
	width: 53.65%;
	padding-top: 129px;
}
.features-image {
	margin-left: -39px;
	background: url(../images/features-iPhone-5C.png) no-repeat center center;
	width: 443px;
	height: 784px;
}
.simple-way {
	background-color: #f9f9f9;
	overflow: hidden;
	text-align: center;
	padding: 85px 185px 0;
}

.simple-way .head-block,
.manage-you-meal-time .head-block {
	font: 300 48px/32px "Roboto";
	color: #5a5a5a;
}
.simple-way .head-block span,
.manage-you-meal-time .head-block span {
	color: #2ecc71;
}
.block-container {
	width: 95.6%;
	margin: 95px auto -165px;
}
.iPhone-5C-1 {
	background: url(../images/iPhone-5C-multicolors-1.png) no-repeat center center;
	width: 253px;
	height: 531px;
	float: left;
	z-index: 100;
	margin-top: 95px;
}
.iPhone-5C-2 {
	background: url(../images/iPhone-5C-multicolors-2.png) no-repeat center center;
	width: 253px;
	height: 531px;
	float: right;
	z-index: 100;
	margin-top: 95px;
}
.iPhone-5C-3 {
	background: url(../images/iPhone-5C-multicolors-3.png) no-repeat center center;
	width: 338px;
	height: 708px;
	margin: 0 auto;
	z-index: 101;
	position: relative;
}

.manage-you-meal-time-container-text {
	width: 54.4%;
	display: inline-block;
}
.manage-you-meal-time-container-food {
	display: inline-block;
}
.food {
	border: solid 1px #ededed;
	border-radius: 8px;
	background-color: #ffffff;
	width: 420px;
	height: 108px;
	margin: auto auto 25px auto;
}
.food:nth-child(2) {
	width: 525px;
	height: 135px;
}
.apple-image {
	background: url(../images/apple.png) no-repeat center center;
	width: 94px;
	height: 56px;
	display: inline-block;
	margin-right: 15px;
}
.apple-text,
.sandwich-text,
.salad-text {
	display: inline-block;
}
.apple-text .head,
.sandwich-text .head,
.salad-text .head {
	font: bold 16px/22px "Roboto";
	color: #2ecc71;
}
.apple-text .about,
.sandwich-text .about,
.salad-text .about {
	font: 300 12px/17px "Roboto";
	color: #5a5a5a;
}
.before-about .circle {
	width: 3px;
	height: 3px;
	border-radius: 80%;
	background-color: #b4b4b4;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
.apple-text .before-about,
.sandwich-text .before-about,
.salad-text .before-about {
	font: bold 12px/24px "Roboto";
	text-transform: uppercase;
	color: #2ecc71;
}
.time {
	display: inline-block;
}
.sandwich-image {
	background: url(../images/sandwich.png) no-repeat center center;
	width: 124px;
	height: 86px;
	display: inline-block;
	margin-right: 5px;
}
.salad-image {
	background: url(../images/salad-witch-chicken.png) center center;
	width: 112px;
	height: 57px;
	display: inline-block;
}
.main-footer {
	padding: 97px 0 100px;
	text-align: center;
}
.main-footer .head-block {
	font: 300 48px/60px "Roboto";
	margin-bottom: 20px;
}

.main-footer .button {
	width: 245px;
	margin-top: 55px;
}
